// make classes for own colors
.primary-color {
  background-color:$primary-color;
}

.secondary-color {
  background-color:$secondary-color;
}

.tertiary-color {
  background-color:$tertiary-color;
}

.accent-color {
  background-color:$tertiary-color;
}

.error-color {
  background-color:$tertiary-color;
}

.farve-orange {
  background-color:$farve-orange;
}

.farve-sort {
  background-color:$farve-sort;
}