// Margin & padding classes
$amountOfSpacers: (0, 1, 2, 3, 4, 5);

@each $spacer in $amountOfSpacers {

  // margin
  .m-#{$spacer} {
    margin: calc(#{$spacer}px * 4);
  }

  .mx-#{$spacer} {
    // Added mx 
    margin: 0 calc(#{$spacer}px * 4);
  }

  .my-#{$spacer} {
    margin: calc(#{$spacer}px * 4) 0;
  }

  // padding
  .p-#{$spacer} {
    padding: calc(#{$spacer}px * 4);
  }

  .px-#{$spacer} {
    // Added px 
    padding: 0 calc(#{$spacer}px * 4)
  }

  .py-#{$spacer} {
    padding: calc(#{$spacer}px * 4) 0;
  }

  // gutter
  .g-#{$spacer} {
    gap: calc(#{$spacer}px * 4) !important;
  }
}



@media screen and (max-width: 1700px){
  .menu {
    display: none;
  }
}

.active img {
  height: 25px;
  width: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #F78527;
  position: relative;
  
}


.topnav #myLinks {
  display: none;

}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 20px;

  
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  color: white;
}

.icon img {
  height: 50px;
  width: 50px;
}
@media screen and (min-width: 1000px) {
  .topnav {
    display: none;
  }  
}