.outer-col-1 {
  width: calc(100% * 0.08333 - 10px * (1 - 0.08333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-2 {
  width: calc(100% * 0.16667 - 10px * (1 - 0.16667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-3 {
  width: calc(100% * 0.25 - 10px * (1 - 0.25));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-4 {
  width: calc(100% * 0.33333 - 10px * (1 - 0.33333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-5 {
  width: calc(100% * 0.41667 - 10px * (1 - 0.41667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-6 {
  width: calc(100% * 0.5 - 10px * (1 - 0.5));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-7 {
  width: calc(100% * 0.58333 - 10px * (1 - 0.58333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-8 {
  width: calc(100% * 0.66667 - 10px * (1 - 0.66667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-9 {
  width: calc(100% * 0.75 - 10px * (1 - 0.75));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-10 {
  width: calc(100% * 0.83333 - 10px * (1 - 0.83333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-11 {
  width: calc(100% * 0.91667 - 10px * (1 - 0.91667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-12 {
  width: calc(100% * 1 - 10px * (1 - 1));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-1 {
  width: calc(100% * 0.08333 - 0px * (1 - 0.08333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-2 {
  width: calc(100% * 0.16667 - 0px * (1 - 0.16667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-3 {
  width: calc(100% * 0.25 - 0px * (1 - 0.25));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-4 {
  width: calc(100% * 0.33333 - 0px * (1 - 0.33333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-5 {
  width: calc(100% * 0.41667 - 0px * (1 - 0.41667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-6 {
  width: calc(100% * 0.5 - 0px * (1 - 0.5));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-7 {
  width: calc(100% * 0.58333 - 0px * (1 - 0.58333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-8 {
  width: calc(100% * 0.66667 - 0px * (1 - 0.66667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-9 {
  width: calc(100% * 0.75 - 0px * (1 - 0.75));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-10 {
  width: calc(100% * 0.83333 - 0px * (1 - 0.83333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-11 {
  width: calc(100% * 0.91667 - 0px * (1 - 0.91667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-12 {
  width: calc(100% * 1 - 0px * (1 - 1));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-1 {
  width: calc(100% * 0.08333 - 0px * (1 - 0.08333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-2 {
  width: calc(100% * 0.16667 - 0px * (1 - 0.16667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-3 {
  width: calc(100% * 0.25 - 0px * (1 - 0.25));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-4 {
  width: calc(100% * 0.33333 - 0px * (1 - 0.33333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-5 {
  width: calc(100% * 0.41667 - 0px * (1 - 0.41667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-6 {
  width: calc(100% * 0.5 - 0px * (1 - 0.5));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-7 {
  width: calc(100% * 0.58333 - 0px * (1 - 0.58333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-8 {
  width: calc(100% * 0.66667 - 0px * (1 - 0.66667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-9 {
  width: calc(100% * 0.75 - 0px * (1 - 0.75));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-10 {
  width: calc(100% * 0.83333 - 0px * (1 - 0.83333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-11 {
  width: calc(100% * 0.91667 - 0px * (1 - 0.91667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-col-no-12 {
  width: calc(100% * 1 - 0px * (1 - 1));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-1 {
  width: calc(100% * 0.08333 - 0px * (1 - 0.08333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-2 {
  width: calc(100% * 0.16667 - 0px * (1 - 0.16667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-3 {
  width: calc(100% * 0.25 - 0px * (1 - 0.25));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-4 {
  width: calc(100% * 0.33333 - 0px * (1 - 0.33333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-5 {
  width: calc(100% * 0.41667 - 0px * (1 - 0.41667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-6 {
  width: calc(100% * 0.5 - 0px * (1 - 0.5));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-7 {
  width: calc(100% * 0.58333 - 0px * (1 - 0.58333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-8 {
  width: calc(100% * 0.66667 - 0px * (1 - 0.66667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-9 {
  width: calc(100% * 0.75 - 0px * (1 - 0.75));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-10 {
  width: calc(100% * 0.83333 - 0px * (1 - 0.83333));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-11 {
  width: calc(100% * 0.91667 - 0px * (1 - 0.91667));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-col-no-12 {
  width: calc(100% * 1 - 0px * (1 - 1));
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  letter-spacing: 5px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-family: verdana, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
}

h3 {
  font-family: Verdana, sans-serif;
}

h4 {
  font-family: Verdana, sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

.primary-color {
  background-color: #103B9F;
}

.secondary-color {
  background-color: #FB329A;
}

.tertiary-color {
  background-color: #FFE84B;
}

.accent-color {
  background-color: #FFE84B;
}

.error-color {
  background-color: #FFE84B;
}

.farve-orange {
  background-color: #F78527;
}

.farve-sort {
  background-color: black;
}

/*Skrevet af Hjalte*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact {
  height: auto;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: url("/img/billede9.png");
  background-size: 70% 10rem;
  background-repeat: no-repeat;
  background-position: top;
  text-transform: uppercase;
}

#contact h1 {
  margin: 10rem 0;
  font-size: 2.5rem;
  text-align: center;
}

#contact h1 span {
  color: #4c00ff;
  font-style: italic;
}

#contact .contact-container {
  width: 90vw;
}

#contact .contact-container form .column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[2];
      grid-template-columns: repeat(2, minmax(25rem, 1fr));
  grid-gap: 2rem;
}

#contact .contact-container form .column .box {
  outline: none;
  border: none;
  background: #000000;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  height: 4rem;
  padding: 0 2rem;
}

#contact .contact-container form .column .box::-webkit-input-placeholder {
  color: #fff;
}

#contact .contact-container form .column .box:-ms-input-placeholder {
  color: #fff;
}

#contact .contact-container form .column .box::-ms-input-placeholder {
  color: #fff;
}

#contact .contact-container form .column .box::placeholder {
  color: #fff;
}

#contact .contact-container form .msg-box {
  width: 100%;
  resize: none;
  height: 10rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  outline: none;
  border: none;
  background: #000000;
  color: white;
  text-transform: uppercase;
  font-style: italic;
}

#contact .contact-container form .msg-box::-webkit-input-placeholder {
  color: #fff;
}

#contact .contact-container form .msg-box:-ms-input-placeholder {
  color: #fff;
}

#contact .contact-container form .msg-box::-ms-input-placeholder {
  color: #fff;
}

#contact .contact-container form .msg-box::placeholder {
  color: #fff;
}

#contact .contact-container input[type="submit"] {
  outline: none;
  border: none;
  background: #000000;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  padding: 1rem 2rem;
  margin: 2rem 0;
  background: #4c00ff;
  cursor: pointer;
}

#contact .contact-container input[type="submit"]:hover {
  background: #db3482;
}

@media (max-width: 680px) {
  #contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #contact .contact-container form .column {
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

body {
  background-color: #fffdfd;
}

h1 {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

/*sociale-medier START*/
.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px;
  padding: 0 10 10 0;
  font-family: Helvetica, sans-serif;
}

.fa:hover {
  opacity: 0.7;
}

.sociale-medier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-facebook {
  background: #000000;
  color: white;
}

.fa-instagram {
  background: #000000;
  color: white;
}

.fa-linkedin {
  background: #000000;
  color: white;
}

.fa-youtube {
  background: #000000;
  color: white;
}

/*sociale-medier SLUT*/
footer {
  width: auto;
}

.row1 {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

.footer-col-text {
  width: 200px;
  margin: 20px;
  font-size: 15px;
  font-family: helvetica, sans-serif;
}

.footer-col-sm {
  width: 200px;
  margin: 20px;
  font-size: 15px;
  font-family: helvetica, sans-serif;
}

.footer-col-text a {
  color: #000000;
}

#logo a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.m-0 {
  margin: calc(0px * 4);
}

.mx-0 {
  margin: 0 calc(0px * 4);
}

.my-0 {
  margin: calc(0px * 4) 0;
}

.p-0 {
  padding: calc(0px * 4);
}

.px-0 {
  padding: 0 calc(0px * 4);
}

.py-0 {
  padding: calc(0px * 4) 0;
}

.g-0 {
  gap: calc(0px * 4) !important;
}

.m-1 {
  margin: calc(1px * 4);
}

.mx-1 {
  margin: 0 calc(1px * 4);
}

.my-1 {
  margin: calc(1px * 4) 0;
}

.p-1 {
  padding: calc(1px * 4);
}

.px-1 {
  padding: 0 calc(1px * 4);
}

.py-1 {
  padding: calc(1px * 4) 0;
}

.g-1 {
  gap: calc(1px * 4) !important;
}

.m-2 {
  margin: calc(2px * 4);
}

.mx-2 {
  margin: 0 calc(2px * 4);
}

.my-2 {
  margin: calc(2px * 4) 0;
}

.p-2 {
  padding: calc(2px * 4);
}

.px-2 {
  padding: 0 calc(2px * 4);
}

.py-2 {
  padding: calc(2px * 4) 0;
}

.g-2 {
  gap: calc(2px * 4) !important;
}

.m-3 {
  margin: calc(3px * 4);
}

.mx-3 {
  margin: 0 calc(3px * 4);
}

.my-3 {
  margin: calc(3px * 4) 0;
}

.p-3 {
  padding: calc(3px * 4);
}

.px-3 {
  padding: 0 calc(3px * 4);
}

.py-3 {
  padding: calc(3px * 4) 0;
}

.g-3 {
  gap: calc(3px * 4) !important;
}

.m-4 {
  margin: calc(4px * 4);
}

.mx-4 {
  margin: 0 calc(4px * 4);
}

.my-4 {
  margin: calc(4px * 4) 0;
}

.p-4 {
  padding: calc(4px * 4);
}

.px-4 {
  padding: 0 calc(4px * 4);
}

.py-4 {
  padding: calc(4px * 4) 0;
}

.g-4 {
  gap: calc(4px * 4) !important;
}

.m-5 {
  margin: calc(5px * 4);
}

.mx-5 {
  margin: 0 calc(5px * 4);
}

.my-5 {
  margin: calc(5px * 4) 0;
}

.p-5 {
  padding: calc(5px * 4);
}

.px-5 {
  padding: 0 calc(5px * 4);
}

.py-5 {
  padding: calc(5px * 4) 0;
}

.g-5 {
  gap: calc(5px * 4) !important;
}

@media screen and (max-width: 1700px) {
  .menu {
    display: none;
  }
}

.active img {
  height: 25px;
  width: 25px;
}

.topnav {
  overflow: hidden;
  background-color: #F78527;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
  font-size: 20px;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  color: white;
}

.icon img {
  height: 50px;
  width: 50px;
}

@media screen and (min-width: 1000px) {
  .topnav {
    display: none;
  }
}

.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  border: 1px solid;
}

.btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: #154ccd;
  color: #FB329A;
}

.btn-secondary {
  background-color: #FB329A;
  color: #103B9F;
}

@media (max-width: 640px) {
  .outer-col-1 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-3 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-4 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-5 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-6 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-7 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-8 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-9 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-10 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-11 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-col-12 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-1 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-2 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-3 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-4 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-5 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-6 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-7 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-8 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-9 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-10 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-11 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inner-col-12 {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main {
    width: 100%;
    max-width: 100%;
  }
}

.menu {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16.7vh;
  padding-left: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo img {
  height: 16.7vh;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  top: 25px;
  left: 0;
  background-color: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.nav-links a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-links a:hover {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
}
/*# sourceMappingURL=kontakt.css.map */